@font-face {
  font-family: "montserrat-extralight";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Montserrat/montserrat-extralight.ttf");
}
@font-face {
  font-family: "montserrat-light";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Montserrat/montserrat-light.ttf");
}
@font-face {
  font-family: "montserrat-regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Montserrat/montserrat-regular.ttf");
}
@font-face {
  font-family: "raleway-extrabold";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Raleway/raleway-extrabold.ttf");
}
@font-face {
  font-family: "raleway-bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Raleway/raleway-bold.ttf");
}
@font-face {
  font-family: "raleway-semibold";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Raleway/raleway-semibold.ttf");
}
@font-face {
  font-family: "raleway-medium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Raleway/raleway-medium.ttf");
}
@font-face {
  font-family: "raleway-regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Raleway/raleway-regular.ttf");
}
@font-face {
  font-family: "roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto/roboto-regular.ttf");
}
* {
  padding: 0;
  margin: 0;
}
body {
  width: 1920px;
  margin: 0 auto;
}
.motion {
  transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
}
.motion:hover {
  -webkit-transform: scale(1.14);
          transform: scale(1.14);
  transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
}
.btn {
  width: 170px;
  height: 53px;
  -webkit-box-shadow: inset 0 -3px 0 #736357;
          box-shadow: inset 0 -3px 0 #736357;
  border: 0 none;
  border-radius: 3px;
  background: #998675;
  color: #fff;
  font-family: "raleway-extrabold";
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  text-transform: uppercase;
  cursor: pointer;
}
.btn:hover {
  -webkit-box-shadow: inset 0 -3px 0 #998675;
          box-shadow: inset 0 -3px 0 #998675;
  background: #736357;
}
.btn:focus {
  outline: none;
  background: #736357;
}
.btn:active {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
}
.header-block {
  width: 1620px;
  padding: 40px 150px;
  background: url(../img/bg-header.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.header-block:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.7)), to(rgba(17, 17, 17, 0.7))), url(../img/bg-header.png);
  background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)), url(../img/bg-header.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.header-block:hover .svg-arrow {
  fill: #a3a2a0;
}
.header-block:hover .slider-btn {
  background: #a3a2a0;
}
.logo-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 226px 279px 226px;
}
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 181px;
  margin: 0 219px 0 0;
  text-decoration: none;
}
.logo-svg {
  fill: #fff;
  width: 64px;
  height: 56px;
}
.logo-text {
  display: block;
  color: #fff;
  font-family: "raleway-regular";
  font-size: 34px;
  font-weight: 400;
  letter-spacing: -1.36px;
}
.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 33px 0 0;
}
.header-nav-item {
  list-style-type: none;
  padding: 0 30px 0 0;
}
.header-nav-item a {
  width: 55px;
  height: 10px;
  color: #fff;
  font-family: "montserrat-light";
  font-size: 14px;
  font-weight: 300;
  letter-spacing: -0.4px;
  text-decoration: none;
  text-transform: capitalize;
}
.header-nav-item a:hover {
  color: #c7b299;
}
.bag-svg {
  width: 18px;
  height: 24px;
  padding: 0 30px 0 0;
  fill: #fff;
}
.search-svg {
  width: 24px;
  height: 24px;
  fill: #fff;
}
.search {
  position: absolute;
  right: -85px;
  display: none;
}
.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 324px 0;
}
.heading {
  max-width: 590px;
  text-align: center;
}
.svg-arrow {
  width: 40px;
  height: 73px;
  margin-top: 100px;
  fill: #fff;
}
h2 {
  margin: 0 0 3px 0;
  color: #fff;
  font-family: "raleway-medium";
  font-size: 36px;
  font-weight: 500;
}
h1 {
  margin: 0 0 16px 0;
  color: #fff;
  font-family: "raleway-extrabold";
  font-size: 52px;
  font-weight: 400;
}
p {
  margin: 0 0 48px 0;
  color: #fff;
  font-family: "montserrat-light";
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
.slider-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20px;
}
.slider-nav .slider-btn {
  -ms-flex-item-align: center;
      align-self: center;
  display: block;
  width: 11px;
  height: 11px;
  margin: 5px;
  background: #fff;
  border-radius: 50%;
}
.slider-nav .slider-btn:hover {
  -webkit-box-shadow: 0 0 0 4px #d3c1ad;
          box-shadow: 0 0 0 4px #d3c1ad;
  background: transparent;
}
