/* Large Devices, Wide Screens */
@media only screen and (max-width: 1250px) {}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

    .container {
        box-sizing: border-box;
    }

    .header-block {
        padding: 20px;
    }

    .logo-nav {
        margin: 0;
    }

    .header-navbar,
    .header-content,
    .slider-nav {
        display: none;
    }

    .about-block1 {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 20px;

        .services {
            margin-bottom: 20px;
        }
    }

    .about-block2 {
        padding: 20px;
        min-height: 0;

        h3 {
            font-size: 26px;
        }

        img {
            display: none;
        }
    }

    .purchase-block {
        display: none;
    }

    .portfolio-block {
        display: none;
    }

    .video-block {
        height: 600px;
        padding: 20px;
        background: url(../img/bg-video.jpg) no-repeat center/cover;
    }

    .block-padding {
        padding: 0;
        align-self: center;
    }

    .mobile-block {
        min-height: 450px;
        padding: 20px;
        background: url(../img/iPhone.png) no-repeat left bottom #fbfaf8;
        background-size: 250px 300px;
    }

    .block-margin {
        position: relative;
        box-sizing: border-box;
        margin: 0;

        h3 {
            margin-bottom: 20px;
            text-align: center;
        }

        p {
            margin-bottom: 20px;
            font-size: 11px;
        }
    }

    .details {
        margin: 0;
        font-size: 7px;
        line-height: 23px;
        float: right;

        summary {
            padding: 0;
        }

        details[open] > summary::before {
            background-image: url(../img/arr-small13-down.png);
        }

        summary::before {
            left: -18px;
            width: 13px;
            height: 13px;
            background-image: url(../img/arr-small13-right.png);
        }

        .zindex {
            width: auto;
            font-size: 8px;
        }
    }

    .counter-block {
        display: none;
    }
}
